<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="transactionSignature">
      <h2 data-cy="transactionSignatureDetailsHeading"><span>Transaction Signature</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ transactionSignature.id }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ transactionSignature.description }}</span>
        </dd>
        <dt><span>Module Affected</span></dt>
        <dd>
          <span>{{ transactionSignature.moduleAffected }}</span>
        </dd>
        <dt><span>Placeholders</span></dt>
        <dd>
          <span *ngFor="let placeholders of transactionSignature.placeholders; let last = last">
            <a [routerLink]="['/placeholder', placeholders?.id, 'view']">{{ placeholders.description }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span>{{ transactionSignature.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/transaction-signature', transactionSignature.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
